.category-card {
	height:400px;
	width: 400px;
	border: 10px solid #ef798a;
	box-shadow: 10px 5px 20px #bd8e93;
}

.right-col {
	width: 500px;
	margin-left: 500px;
}

.left-col {
	width: 500px;
	margin-right: 500px;
}

#category-checklists{
	margin: 20px auto;
	overflow: hidden;
	width: 700px;
	background-color: #d6d2d2;
	border: 10px solid #454851;
	box-shadow: 10px 5px 20px #bd8e93;
}

#category-checklists:hover{
	transition: transform .3s;
		transform: scale(1.05);
		background-color: #685369;
}


.category-card:hover{
	transition: transform .3s;
		transform: scale(1.05);
					transform: rotate(5deg) scale(1.1);
		background-color:  #ef798a;


}

.card-content:hover{
			color: #f3d9dc;
}

.category-content{
	width:700px;
	color: #685369;
}

.category-content:hover{
	color: #d6d2d2;
}

#sort-form{
float: left;
margin-left: 150px;
width:150px;
position:relative;
}

#sort-label{
	font-size: 15px;
	top: 50px;
	left: 50px;
	width:100px;
	position:relative;
}

#sort-form-wrapper {
	width:800px;
	height:100px;
	margin: auto;
}

.information {
	width: 600px;
	margin: auto;
}

.category-list-wrapper{
	min-height: 800px;
}
