
#comments-list{
	overflow: hidden;
	height: 100%;
	width: 600px;
	margin: 20px auto;
	bottom: 25px;
	position: relative; 
}

#comments-wrapper{
	overflow: hidden;
	margin: 10px auto;
	border: 10px solid;
	width: 800px;
}

#comments-form{
	overflow: hidden;
	margin: auto;
	width: 700px;
}

#post-button{
	margin: 20px auto;
	background-color: #dc8589;
}

  /*[type="radio"] + label:before,
  [type="radio"] + label:after {
  	display:none;

  }*/

.userAvatar{
	width:100px;
	height:100px;
	padding:10px;
}
.star{
	color: grey;
	width: 30px;
    background-position: center center;
    background-color: $image-bg;
    cursor: pointer
  }

  .star:hover{
  	transition: transform .3s ;
	transform: rotate(-15deg) scale(1.3);
  }

  #rate-button{
  	width: 50px;
  	bottom: 7px;
  	padding: 0px;
  }


#button-wrapper{
	width: 800px;
	overflow: hidden;
	margin: auto;
}

#use-button{
	margin: 20px auto;
	width:300px;
	background-color: #dc8589;
}

#preview-page-collapsible{
	margin: auto;
	width:800PX;
	border: 3px solid #89d2dd;
}

#preview-page-collapsible-header{
	font-size: 20px;
	background-color: #e0fafd;
	margin: auto;
	color: #5aa8b4;
}