/* body{
	margin:0;
	padding:0;
 color: #3d2f3e;
	min-height: 800px;
 background-color: #f3d9dc;
 font-family: courier;
} */


.resource-item{
	color: #ef798a;
}

.resource-item:hover{
	color: #7b2733;
}
hr{
margin: auto;
}

#navbar{
	height: 60px;
}

.nav-encaps{
	width: 70%;
	margin: auto;
}

#content{
	margin-top: 180px;
}

.title-header{
	text-align: center;
	text-decoration: underline;
	color: #454851;
}

#create-checklist-task-name{
	right: 120px;
	width: 400px;
	position:relative;
	word-wrap: break-word;
}

.delete-task {
	left: 590px;
	width:50px;
	position:relative;

}

.editTask {
	left: 600px;
	width:50px;
	position:relative;

}

.delete-task:hover {
	filter: brightness(75%);

}

.editTask:hover {
filter: brightness(75%);

}

.task {
	position: relative;
	margin: auto;
}

.move-up{
	opacity:0.5;
	width:30px;
	position: relative;
	left: 610px;

}

.move-down{
	opacity:0.5;
	width:30px;
	position: relative;
	left: 610px;

}

.move-up:hover{
	opacity: 1;
}

.move-down:hover{
	opacity: 1;
}


.checklist-boxes[type="checkbox"] + label:before{
  border: 2px solid #f39d9c;
  background: transparent;
}

.checklist-boxes[type="checkbox"] + label:hover{
filter: brightness(75%)
}

.checklist-boxes[type="checkbox"]:checked + label:before{
  border: 2px solid transparent;
  border-bottom: 2px solid #f39d9c;
  border-right: 2px solid #f39d9c;
  background: transparent;
}
.checklist-boxes.filled-in[type="checkbox"] + label:after{
  border: 2px solid #f39d9c;
  background: transparent;
}
.checklist-boxes.filled-in[type="checkbox"]:checked + label:after{
  background: #f39d9c;
}
.checklist-boxes.filled-in[type="checkbox"]:checked + label:before{
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

#create-collapsible-header {
	font-size: 20px;
	background-color: #454851;
	color: white;
	text-transform: capitalize;
}


#checklist {
	margin: 10px auto;
	width:750px;
	height:100%;
	word-wrap: break-word;
	border: 5px solid #454851;
		box-shadow: 10px 5px 20px #bd8e93;
}

.collapsible-body{
	font-size: 20px;
	background-color: #d6d2d2;
}

.description{
	color: #685369;
	font-size: 16px;
}

.resources{
	font-size: 16px;
}

#add-form-wrapper {
	width: 800px;
	height: 100%;
	margin:auto;
	box-shadow: 10px 5px 20px #bd8e93;
	overflow:hidden;
	color: #454851;
	background-color: #d6d2d2;
}

#add-form {
	width: 600px;
	margin:auto;
	color: #ef498a;
}

#title-form-wrapper {
	margin: 10px auto;
	width:800px;
	overflow: visible;
	color:  #ef498a;
	background-color: #d6d2d2;
	box-shadow: 10px 5px 20px #bd8e93;
}

#title-form {
	width: 600px;
	margin:auto;
}



#checklistName{
		margin: auto;
		right: 500px;
}


#add-task-button{
		margin: 10px auto;
		width: 100px;
		left: 680px;
		bottom: 10px;
	background-color: #685369;
}

#save-checklist-button-wrapper{
		margin: 20px auto;
		width: 500px;
		position: relative;
		height:100px;
}

#save-and-publish-checklist-button{
	background-color:  #454851;
	width: 200px;
	bottom: 25px;
	font-size: 13px;
	margin-right: auto;
}

#save-checklist-button{
	background-color:  #454851;
	width: 200px;
	font-size:13px;
	bottom: 25px;
	margin-left: auto;
}

.separator{
	margin: auto;
}

#add-resource-form{
	padding-left: 20px;
	padding-right: 20px;
	width: 80%;
	color:#ef498a;
	margin-left: 80px;
	 word-wrap: break-word;
}



#resource-submit-button{
	/*float:right;
	right: 300px;
	bottom:50px;*/
	background-color: #685369;
}

.form-header{
		color: #454851;
}

.modal-content{
	background-color: #454851;
}

.modal-footer{
		background-color: #454851;
}

#editForm{
	width: 80%;
	margin: auto;
		color:#ef798a;
}

.edit-form-header{
	color: #d6d2d2;
}



.editTaskButton{
	background-color:#ef798a;
	bottom: 10px;
}
