body{
	margin:0;
	padding:0;
 color: #dc8589;
 font-family: courier;
}

/* .modal { width: 75% !important ; height: 90% !important ; }  */
.modal { width: 75% !important ; max-height: 100% !important ; overflow-y: hidden !important ;}

hr{
margin: auto;
}

#navbar{
	height: 60px;
}

.nav-encaps{
	width: 70%;
	margin: auto;
}

#content{
	margin-top: 180px;
}

#create-checklist-title{
	text-align: center;
	text-decoration: underline;;
}

#create-checklist-task-name{
	right: 120px;
	width: 400px;
	position:relative;
	word-wrap: break-word;
}

.delete-task {
	left: 440px;
		width:50px;
	position:relative;
	color:  #5aa8b4;
}

.editTask {
	left: 440px;
	width:50px;
	position:relative;
	color:  #5aa8b4;
}

.task {
	position: relative;
	margin: auto;
}

.move-up{
	opacity:0.5;
	width:30px;
	position: relative;
	left: 470px;
}

.move-down{
	opacity:0.5;
	width:30px;
	position: relative;
	left: 470px;
}

.move-up:hover{
	opacity: 1;
}

.move-down:hover{
	opacity: 1;
}

.checkbox {
	width: 50px;
	float: left;
	position: relative;
}

#create-collapsible-header {
	font-size: 20px;
	background-color: #e0fafd;
	height: 100%;
	width: 594px;
	margin: auto;
	color: #5aa8b4;
}


#checklist {
	margin: 10px auto;
	width:600px;
	border: 3px solid #89d2dd;
	height:100%;
		word-wrap: break-word;
}

#add-form-wrapper {
	width: 500px;
	margin:auto;
	border: 5px solid #dc8589;
	overflow:hidden;
	color: #e37975;
}

#add-form {
	width: 400px;
	margin:auto;
	height:100%;
}

#add-task-button{
		margin: 10px auto;
		width: 100px;
		left: 380px;
		background-color: #dc8589;
}

#title-form-wrapper {
	margin: 10px auto;
	width:500px;
	border: 5px solid #f49498;
	overflow: visible;
	color: #e37975;
}

#title-form {
	width: 400px;
	margin:auto;
}

#checklistName{
		margin: auto;
		right: 500px;
}

#save-checklist-button-wrapper{
		margin: 10px auto;
		width: 500px;
		position: relative;
		height:100px;
}

#save-and-publish-checklist-button{
	background-color: #dc8589;
	width: 200px;
	bottom: 25px;
	font-size: 13px;
	margin-right: auto;
}

#save-checklist-button{
	background-color: #dc8589;
	width: 200px;
	font-size:13px;
	bottom: 25px;
	margin-left: auto;
}

.separator{
	margin: auto;
}

#resource-row{
	border: 2px solid;
	padding: 20px;
	width: 90%;
	margin:auto;
}
