#create-account-wrapper{
	width: 800px;
	height:100%;
	margin: 10px auto;

}

#create-account-title{
font-size: 50px;
	color: #5aa8b4;
}

#create-account-button {
		background-color:  #5aa8b4;
}

#register-form{
		color: 	#dc8589;;
		border: 10px solid 	#dc8589;
		padding: 20px;
}