#information{
    width: 35%;
    border: 10px solid #3b303d;
    padding: 25px;
   	height:100%;
   	background-color:#454851;
   	color:#d6d2d2;
   	float: right;

}

.editMessage{
        cursor: pointer;
}

#message{
    width: 80%;
}

#checklist-information {
	width: 65%;
	float: left;
	border: 10px solid ;
	padding: 10px;
	height:100%;

}



#user-page-content{
	width: 100%;
	height: 1000px;
	 position: relative;
}
#checklist-information{
	 position: relative;
	 overflow: hidden;
}

#checklist-content{
	width:100%;

}
#username-content{
	width:100%;
}

#avatar{
	width: 300px;
	height:300px;
	float: left;
}

#avatar:hover{
	 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    	   	transition: all.5s ease;
    	   	cursor: pointer;
}
