.nav-wrapper{
       background-color: #685369;   
           height: 100px;
}

nav{
    height: 100px;
}

.brand-logo{
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
}


button:hover{
    filter: brightness(75%);
}

i: hover{
     filter: brightness(75%);
}

#tutorial {
	height: 800px;
  background-color: #fafafa;
}

#login_box {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 25px;

}

#login_bg {
    background-color: #ffebee;
    height: 550px;
    /* height: 100%; */
}

#create_acc_box {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 25px;
}

#create_acc_bg {
    background-color: #ffebee;
    height: 600px;
    /* height: 100%; */
}

#forgot_password_box {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 25px;

}

#forgot_password_bg {
    background-color: #ffebee;
    height: 550px;
    /* height: 100%; */
}

