/*
Colors
light pink: #f3d9dc
warm pink: #ef798a
dark grey: #454851
dark purple: #685369
grey: #d6d2d2
*/
body {
	margin:0;
	padding:0;
	/* color: #f3d9dc; */
	font-family: courier;
}

hr {
	margin: auto;
}

strong {
	font-weight: bold;
}

/* .brand-logo{
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
}

button:hover{
    filter: brightness(75%);
}

i: hover{
     filter: brightness(75%);
} */

/* Modals */
.modal { width: 75% !important;
	max-height: 100% !important;
	overflow-y: hidden !important;
}

/* Navbars */
nav {
  background-color: #685369 !important;
}

/* Footers */
footer {
	background-color: #685369 !important;
}

.login_btn {
	width: 230px !important;
}

#slider {
	/* background-color: #f3d9dc; */
}
.nav-wrapper{
       background-color: #685369;
           height: 100px;
}

nav{
    height: 100px;
}

/* .brand-logo{
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
} */


button:hover{
    filter: brightness(75%);
}

i: hover{
     filter: brightness(75%);
}

#tutorial {
	/* height: 800px; */
  background-color: #f3d9dc;
}

#spacing1 {
	height: 50px;
}

#spacing2 {
	height: 40px;
}

#spacing3 {
	height: 120px;
}

.card_img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}
.card {
	height: 400px;
}

#login_box {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
		/* margin-left: 25%; */
		opacity: 0.9;

		/* margin-top: 10px; */

}

#login_bg {
	background: url("../images/painting.jpg");
	background-size: cover;
    background-color: #ffebee;
    height: 550px;
				/* margin-top: 0px; */
    /* height: 100%; */
}

#create_acc_box {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 25px;
				opacity: 0.9;
}

#create_acc_bg {
		background: url("../images/signup_bg.jpg");
			background-size: cover;
    background-color: #ffebee;
    height: 660px;
    /* height: 100%; */
}

#forgot_password_box {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 25px;
				opacity: 0.9;

}

#forgot_password_bg {
		background: url("../images/forgotpassword_bg.jpg");
			background-size: cover;
    background-color: #ffebee;
    height: 550px;
    /* height: 100%; */
}

.page-content{
    min-height: 800px;
}
